<h1>Your Contracts:</h1>
<ul>
  <%  current_user.contracts.each do |contract| %>
    <li><%= contract.show_name %> |
      <%= link_to contract.company.name, company_path(contract.company) %> |
      $<%= contract.fee %>
      </li>
  <% end %>
</ul>

<div id='pie_chart'></div>
  <%= render_chart @piechart, 'pie_chart' %>

<h4>Average Fee:
  <%total_of_fees = current_user.contracts.map do |con| %>
    <% con.fee %>
  <% end %>
  <%= total_of_fees.sum / total_of_fees.length %>
</h4>
