<%= render 'error' %>
<u><h3>Create New Contract</h3></u>

<%= form_for @contract do |f| %>

  <%= f.label :show_name %>
  <%= f.text_field :show_name %><br />

  <%= f.label :opening_date %>
  <%= f.date_field :opening_date %><br />
  <br />

  <%= f.label :musical, "Musical?" %>:
  <%= f.check_box :musical %><br />
  <br />

  <%= f.label :venue %>:
  <%= f.collection_select :venue_id, @venues, :id, :name %><br />

  <%= f.label :company %>:
  <%= f.collection_select :company_id, @companies, :id, :name %><br />

  <%= f.label :categories %>:
  <%= f.collection_check_boxes :category_ids, @categories, :id, :name %><br />

  <%= f.label :fee %>:
  <%= f.number_field :fee %><br />
  <br />

  <%= f.submit "Submit New Contract." %>
<% end %>
