<h3>New Contract</h3>

<%= form_for @contract do |f| %>
  <br />

  <%= f.label :show_name %>
  <%= f.text_field :show_name %>
  
  <%= f.label :opening_date %>
  <%= f.date_field :opening_date %><br />

  <%= f.label :fee %>
  <%= f.number_field :fee %><br />

  <%= f.label :venue %>:
  <%= f.collection_select :venue, @venues, :id, :name %><br />

  <%= f.label :musical %>:
  <%= f.check_box :musical %><br />

  <%= f.submit "Submit New Contract." %>
<% end %>
