<h2>View All Analytics</h2>

Overall Fees Across Time

<div id="all_chart"></div>
<%= render_chart(@all_chart, "all_chart") %>

Fees Across Time By Gender Per Category

<div id="gender_scenic_chart"></div>
<%= render_chart(@gender_scenic_chart, "gender_scenic_chart") %>

<div id="gender_costume_chart"></div>
<%= render_chart(@gender_costume_chart, "gender_costume_chart") %>

<div id="gender_lighting_chart"></div>
<%= render_chart(@gender_lighting_chart, "gender_lighting_chart") %>

<div id="gender_sound_chart"></div>
<%= render_chart(@gender_sound_chart, "gender_sound_chart") %>

<div id="gender_projection_chart"></div>
<%= render_chart(@gender_projection_chart, "gender_projection_chart") %>

Fees Across Time By Ethnicity Per Category

<div id="ethnicity_scenic_chart"></div>
<%= render_chart(@ethnicity_scenic_chart, "ethnicity_scenic_chart") %>

<div id="ethnicity_costume_chart"></div>
<%= render_chart(@ethnicity_costume_chart, "ethnicity_costume_chart") %>

<div id="ethnicity_lighting_chart"></div>
<%= render_chart(@ethnicity_lighting_chart, "ethnicity_lighting_chart") %>

<div id="ethnicity_sound_chart"></div>
<%= render_chart(@ethnicity_sound_chart, "ethnicity_sound_chart") %>

<div id="ethnicity_projection_chart"></div>
<%= render_chart(@ethnicity_projection_chart, "ethnicity_projection_chart") %>
