<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 create_acct card">
    <div class="card-block">
      <h4 class="card-title">Sign Up:</h4>
      <%= form_for @designer, html: {class: :designer_form } do |f| %>
        <%= f.label :username %>: <%= f.text_field :username %><br />

        <%= f.label :gender %>:
        <%= f.collection_select :gender, ['Male', 'Female', 'Non-Binary', 'Prefer not to Answer'], :to_s, :to_s %><br />

        <%= f.label :ethnicity %>:
        <%= f.collection_check_boxes :ethnicity, ["Asian/Indian subcontinent", "Black", "Hispanic", "Native American", "Pacific Islander", "White", "Other"], :to_s, :to_s %><br />

        <%= f.label :birth_year %>: <%= f.number_field :birth_year %><br />

        <%= f.label :password %>: <%= f.password_field :password %><br />

        <%= f.label :password_confirmation %>: <%= f.password_field :password_confirmation %><br />

        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
