<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 create_acct card">
    <div class="card-block">
      <h4 class="card-title">Sign Up:</h4>
      <div class="form-group">
        <%= form_for @designer, html: {class: :designer_form } do |f| %>

          <div class="form-group row">
            <%= f.label :username, class: "col-sm-1 col-form-label" %>
            <div class="col-sm-3">
              <%= f.text_field :username, class: "form-control" %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :gender, class: "col-sm-1 col-form-label" %>
            <div class="col-sm-3">
              <%= f.collection_select :gender, ['Male', 'Female', 'Non-Binary', 'Prefer not to answer'], :to_s, :to_s, {}, {class: "custom-select"} %>
            </div>
            <div class="form-group row">
              <%= f.label :birth_year, "Birth Year", class: "col-sm-1 col-form-label" %>
              <div class="col-sm-3">
                <%= f.number_field :birth_year, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-1">
              <%= f.label :ethnicity, class: "form-check-label" %>
            </div>
              <%= f.collection_radio_buttons :ethnicity,['Asian or Indian subcontinent','Black','Hispanic','Native American','Pacific Islander','White','Other'], :to_s, :to_s, {}, {class: "form-check-input"} %>
          </div>
          <div class="form-group row">
          <%= f.label :password, class: "col-sm-1 col-form-label" %>
          <div class="col-sm-3">
            <%= f.password_field :password, class: "form-control" %>
          </div>

          <%= f.label :password_confirmation,"Confirm", class: "col-sm-1 col-form-label" %>
          <div class="col-sm-3">
            <%= f.password_field :password_confirmation, class: "form-control"  %>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-1">
            <%= f.submit class: "btn btn-success" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
