<% if !current_user %>
  <h2><%= "fuck you log in" %></h2>
<% else %>
  <h4><%= "Welcome home!" %></h4>

  <%= link_to "New Contract", new_contract_path %><br />
  <%= link_to "View All Contracts", contracts_path %><br />

  <u><h5>View Analytics</h5></u>

  <%= form_tag analytics_select_path do %>
    <%= select_tag "View by Company", options_from_collection_for_select(@companies, "id", "name")%>
    <%= submit_tag %>
  <% end %><br />

  <%= link_to "View All", designers_path %>

<% end %>
