<% if !current_user %>
  <div class="row">
    <div class="col-sm-2"></div>
      <div class="col-sm-8 pitch">
        <h2>Welcome to StageDoor.</h2>
        <p>Curious about what you should be paid for your next gig? Want to know how a company pays its freelancers, or how it hires? Need to track your contracts across time, and see how you stack up? Join StageDoor. Submit your information anonymously. Contribute to everyone's fair share.</p>
      </div>
  </div>
  <%= render 'new_account_form' %>
<% else %>
  <div class="row">
     <div class="col-sm-12 padding_row white"></div>
  </div>
  <div class="row white full_height">
    <div class="col-sm-2"></div>
      <div class="col-sm-5 contract_list_tile">
        <h2><%= "#{current_user.username}'s Contracts" %></h2>
        <ul>
          <li><%= link_to "Create New Contract", new_contract_path %></li>
          <li><%= link_to "View My Contracts", contracts_path %></li>
        </ul>
      </div>
      <div class="col-sm-3 contract_list_tile">
        <h2>View Analytics</h2>
        <ul>
          <div class="form-group">
            <li>View by company:</li>
              <li><%= form_tag analytics_select_path do %>
                <%= select_tag "company", options_from_collection_for_select(@companies, "id", "name"), {:class => 'form-control'}%>
                <%= submit_tag "Go!", {:class => 'btn btn-success' }%>
              <% end %>
            </li>
            <li>View by location:</li>
              <li><%= form_tag analytics_select_path do %>
                <%= select_tag "location", options_from_collection_for_select(@locations, "id", "name"), {:class => 'form-control'}%>
                <%= submit_tag "Go!", {:class => 'btn btn-success' }%>
              <% end %>
            </li>
            <li><%= link_to "View all", designers_path %></li>
          </div>
        </ul>
        <% end %>
      </div>
      </div>
    </div>
