<div class="padding_row"></div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <h2>Analytics for <%= @location.name %></h2>
  </div>
</div>
<div class="fee_data row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <p>Average Fee: <%= cons_mean_fee(@location_contracts) %> | Lowest Fee: <%= cons_min_fee(@location_contracts)%> | Highest Fee: <%= cons_max_fee(@location_contracts)%> | Median Fee: <%= cons_median_fee(@location_contracts) %> | Most Frequent: <%= cons_mode_fee(@location_contracts) %></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <h3>Fee History by Category</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
  <div id="all_chart"></div>
    <%= render_chart(@all_chart, "all_chart") %>
  </div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <h3>Fees History By Gender</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div id="gender_scenic_chart"></div>
    <%= render_chart(@gender_scenic_chart, "gender_scenic_chart") %>
  </div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div id="gender_costume_chart"></div>
    <%= render_chart(@gender_costume_chart, "gender_costume_chart") %>
  </div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div id="gender_lighting_chart"></div>
    <%= render_chart(@gender_lighting_chart, "gender_lighting_chart") %>
  </div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div id="gender_sound_chart"></div>
    <%= render_chart(@gender_sound_chart, "gender_sound_chart") %>
  </div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div id="gender_projection_chart"></div>
    <%= render_chart(@gender_projection_chart, "gender_projection_chart") %>
  </div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <h3>Fees History By Ethnicity</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div id="ethnicity_scenic_chart"></div>
    <%= render_chart(@ethnicity_scenic_chart, "ethnicity_scenic_chart") %>
  </div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div id="ethnicity_costume_chart"></div>
    <%= render_chart(@ethnicity_costume_chart, "ethnicity_costume_chart") %>
  </div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div id="ethnicity_lighting_chart"></div>
    <%= render_chart(@ethnicity_lighting_chart, "ethnicity_lighting_chart") %>
  </div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div id="ethnicity_sound_chart"></div>
    <%= render_chart(@ethnicity_sound_chart, "ethnicity_sound_chart") %>
  </div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div id="ethnicity_projection_chart"></div>
    <%= render_chart(@ethnicity_projection_chart, "ethnicity_projection_chart") %>
  </div>
</div>
