<!DOCTYPE html>
<html>
  <head>
    <title>StageDoor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://www.google.com/jsapi'></script>
  </head>

  <body>
    <div id="nav">
    <h1 id="logo">StageDoor</h1>
    <ul class="nav_menu">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Contracts", contracts_path %></li>
      <li><%= link_to "Companies", companies_path %></li>
    </ul>
    <h5><% if current_user %>
          <%= "Logged in -> #{current_user.username}" %> <br />
          <%= link_to "Logout?", logout_path, method: 'post' %>
        <% else %>
          <%= link_to "login", login_path %>
        <% end %>
    </h5>
  </div>
    <%= yield %>
  </body>
</html>
