<!DOCTYPE html>
<html>
  <head>
    <title>StageDoor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h3>StageDoor</h3>
    <h5><% if current_user %>
          <%= "logged in -> #{current_user.username}" %>
        <% else %>
          <%= link_to "login", login_path %>
        <% end %>
    </h5>
    <%= yield %>
  </body>
</html>
